---
import Github from "./icons/Github.astro";
import Web from "./icons/Web.astro";
import JavaScript from "./logosTech/JavaScript.astro";
import Nextjs from "./logosTech/Nextjs.astro";
import React from "./logosTech/React.astro";

const DATA_LINKS = {
  project_1: {
    nameWeb: "Ir al sitio web",
    github: "https://github.com/Grupo5Henry",
    icon: Github,
    url: "https://front-wheat-gamma.vercel.app",
    iconWeb: Web,
    class: "bg-black/20",
  },
};
const TAGS = {
  React: {
    name: "React.js",
    class: "bg-gray-900",
    icon: React,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-gray-900",
    icon: JavaScript,
  },
  Nextjs: {
    name: "Next.js",
    class: "bg-black/20",
    icon: Nextjs,
  },
};
const PROJECT_CONTENT = [
  {
    id: 1,
    name: "Project One",
    description:
      "This is the first project. This is the first project. This is the first project. This is the first project. This is the first project.",
    image: "/foto.jpg",
    links: DATA_LINKS.project_1,
    tags: [TAGS.React, TAGS.JavaScript, TAGS.React, TAGS.JavaScript],
  },
  {
    id: 1,
    name: "Project One",
    description:
      "This is the first project. This is the first project. This is the first project. This is the first project. This is the first project. This is the first project. This is the first project.",
    image: "/foto.jpg",
    tags: [TAGS.React, TAGS.JavaScript, TAGS.React, TAGS.JavaScript],
  },
  {
    id: 1,
    name: "Project One",
    description:
      "This is the first project. This is the first project. This is the first project. This is the first project. This is the first project. This is the first project. This is the first project.",
    image: "/foto.jpg",
    tags: [TAGS.React, TAGS.JavaScript, TAGS.React, TAGS.JavaScript],
  },
  {
    id: 1,
    name: "Project One",
    description:
      "This is the first project. This is the first project. This is the first project. This is the first project. This is the first project. This is the first project. This is the first project.",
    image: "/foto.jpg",
    tags: [TAGS.React, TAGS.JavaScript, TAGS.React, TAGS.JavaScript],
  },
];
---

{
  PROJECT_CONTENT.map(({ name, description, image, tags, links }) => (
    <article class='border-solid h-96 border border-indigo-600/15 rounded-xl'>
      <h3 class='text-xl font-semibold m-2'>{name}</h3>
      <p class='text-sm  m-2 text-pretty'>{description}</p>
      <ul class='grid grid-cols-IC gap-x-2 mt-1'>
        {tags?.map((tag) => (
          <li class='flex items-center mb-1'>
            <span
              class={`flex gap-x-2 ml-2 rounded-full text-xs py-1 px-2 ${tag.class}`}
            >
              <tag.icon class='size-4 rounded-full' />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading='lazy'
        class='h-40 w-full  shadow-2xl p-2 shadow-white/20 object-cover rounded-xl hover:scale-110 transition-transform'
        src={image}
        alt='image of project'
      />
      <ul class='flex justify-end mr-2 mt-1'>
        <li class='flex items-center mb-1'>
          <a
            class={`flex gap-x-2 ml-2 mt-2 rounded-full text-xs py-1 px-2 hover:bg-gray-600 hover:text-black/80 ${links?.class}`}
            href={links?.github}
            target='_blank'
            rel='noopener noreferrer'
          >
            {links && <links.icon class='size-4 rounded-full' />}
            {links?.nameWeb}
          </a>
        </li>
        <li class='flex items-center mb-1'>
          <a
            class={`flex gap-x-2 mt-2 ml-2 rounded-full text-xs py-1 px-2 hover:bg-gray-600 hover:text-black/80 ${links?.class}`}
            href={links?.url}
            target='_blank'
            rel='noopener noreferrer'
          >
            {links && <links.iconWeb class='size-4 rounded-full' />}
            {links?.nameWeb}
          </a>
        </li>
      </ul>
    </article>
  ))
}
